In [10]:
print("hello world")

hello world

In [11]:
print("hello tom and jerry")

hello tom and jerry

logical operators

In [10]:




a = 5
b = 2
print(a<b and a>b)
print(a<b or a>b)
print(not(a<b and a>b))
print(not(a<b or a>b))

False
True
True
False

Bitwise operators

In [11]:



a = 6
b = 3
print(a & b)
print(a | b)
print(a ^ b)
print(~a)
print(~b)
print(a << 1)
print(a >> 1)

2
7
5
-7
-4
12
3

Identity operators

In [12]:
a = 5
b = 5
c = 3
print(a is b)
print(a is c)
print(a is not b)
print(a is not c)

True
False
False
True

Logical operators

In [13]:
a = 5
b = 2
print(a<b and a>b)
print(a<b or a>b)
print(not(a<b and a>b))
print(not(a<b or a>b))

False
True
True
False

Membership operators in-not_in

In [14]:
a = ["apple","banana"]
print("banana" in a)
print("mango" in a)

True
False

Arithmetic operators

In [15]:
a = 5
b= 2
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a // b)
print(a ** b)

7
3
10
2.5
1
2
25

accessing from the list

In [16]:
thislist=["banana","apple","strawberry"]
print(thislist[0:3])

['banana', 'apple', 'strawberry']

In [17]:
thislist=["boy","girl","tom","vanishree"]
print(thislist[0:])

['boy', 'girl', 'tom', 'vanishree']

try exception

In [18]:
try:
    print(D)
except:
    print("vetry is an brand ambacetar for vetry technologies")

vetry is an brand ambacetar for vetry technologies

try else exception

In [19]:
try:
    print("how are you")
except:
    print("is there any problem")
else:
    print("no,here no problem")

how are you
no,here no problem

zero division erroe or not a valid number error

In [20]:
try:
    age=int(input("age: "))
    income=2000
    risk=income/age
    print(age)
except valueerror:
    print("not a value number")
except zerodivisionerror:
    print("age cannot be 0")

4

Not a valid number error

In [21]:
try: 
 num = int(input("Enter a number: "))
 n = 3
 risk = n / num
 print(num)
except ValueError:
 print("Not a valid number")
except ZeroDivisionError:
 print("Age cannot be 0")

Not a valid number

Zero division error

In [ ]:
try:
    a = 10
    b = 0
    print(a/b)
except ZeroDivisionError as e:
    print("Error: Cannot divide by zero")

Error: Cannot divide by zero

Comparison operators or relational operators

In [ ]:
x=3
y=1
print("x==y")
print("x!=y")
print("x>y")
print("x<y")
print("x>=y")
print("x<=y")

x==y
x!=y
x>y
x<y
x>=y
x<=y

list

In [ ]:
my_list=[12,33,56,89,96,77,86,90,84,90]
print(len(my_list))

10

In [ ]:
a='ram'
b='tom'
c=a+b
print(c)

ramtom

string handling

In [ ]:
a='tom'
b='ram'
c=a+b
print(c)
c=3
z=str(c)
d=a+z
print(d)
print(a*c)

tomram
tom3
tomtomtom

swapping operators

In [26]:
a=10
b=5
print("Before swapping")
print("the value of x:",x,"and y:",y)
print("After swapping")
print("the value of x:",y,"and y:",x)

Before swapping
the value of x: 3 and y: 1
After swapping
the value of x: 1 and y: 3

Increment/Decrement operators

In [44]:
count=0
count+=1
count=count
print("the value of count",count)
print("INCREMENT for loop")
for i in range (0,5):
    print(i)
print("DECREMENT for loop")
for i in range(2,-2,-1):
    print(i)

the value of count 1
INCREMENT for loop
0
1
2
3
4
DECREMENT for loop
2
1
0
-1

Area of circle

In [46]:
from math import pi
print("Area of circle")
r=float(input("Enter the radius of the circle:"))
area = pi * r * r
print("the radius of the circle is", area)

Area of circle
the radius of the circle is 28.274333882308138

Area of triangle

In [49]:
from math import pi
print("area of triangle")
r=float(input("Enter the radius of the triangle: "))
area=pi * r * r
print("the radius of the triangle is",area)

area of triangle
the radius of the triangle is 12.566370614359172

Area of rectangle

In [53]:
from math import pi
print("Area of rectangle")
r=float(input("Enter the radius of the rectangle:"))
area=pi * r * r
print("the radius of the rectangle is",area)

Area of rectangle
the radius of the rectangle is 3.141592653589793

In [66]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [75]:
def my_function(child3,child2,child1):
    print("the oldest child is" + child3)
     
my_function(child1 = "vetry", child2 = "arjun", child3 = "yogesh")

the oldest child isyogesh

In [17]:
class Human():
    name= 'tom'
    
h1= Human()
print(h1, type(h1))
print(h1.name,type(h1.name))

<__main__.Human object at 0x06AF54A8> <class '__main__.Human'>
tom <class 'str'>

In [19]:
class Human():
    name= 'tom'
    
h1= Human()
print(h1, type(h1))
print(h1.name,type(h1.name))
class Human():
    def __init__(self,name,age,gender,nativeplace,mothertongue,nationality,department,college):
       self.name='tom'
       self.age= '21'
       self.gender= 'male'
       self.nativeplace= 'vnb'
       self.mothertongue= 'tamil'
       self.nationality= 'Indian'
       self.department= 'cse'
       self.college= 'psvcollege'
    def __str__(self):
        return self.name
    

    h1 = Human(name='tom',age= '21',gender= 'male',nativeplace= 'vnb',mothertongue= 'tamil',nationality= 'Indian',department= 'cse',college= 'psvcollege')
    print(h1, type(h1))
print(h1.name, type(h1.name))
print(h1.age, type(h1.age))
print(h1.gender, type(h1.gender))   
print(h1.nativeplace, type(h1.nativeplace))
print(h1.mothertongue, type(h1.mothertongue ))
print(h1.nationality,type(h1.nationality) )
print(h1.department,type(h1.department))
print(h1.college,type(h1.college))

tom

<class '__main__.Human'>
tom < class 'str'>
34 < class 'int'>
Male < class 'str'>
    def greet():
print('hai I am ', self.name)
h1.greet()

SyntaxError: invalid syntax (<ipython-input-19-082d6c89d816>, line 32)

In [25]:
class Department:
    def __init__(self,name,age,gender):
        self.name = name
        self.age = age
        self.gender = gender
        

    def __str__(self):
        return f"[{self.name}] and ({self.age}) and [{self.gender}]" 



p1 = Department("tom",21,"male")
p2 = Department("mukesh",22,"male")
p3 = Department("yogesh",20,"male")



print(p1)
print(p2)
print(p3)

[tom] and (21) and [male]
[mukesh] and (22) and [male]
[yogesh] and (20) and [male]